.container {
  background-color: #eee;
	min-height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
}

.loading {
	opacity: .3;
	background-color: white;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}



.searchBarContainer {
	width: 100vw;
	height: 100px;
	display: flex;

}

.searchBar {
	height: 50px;
  width: 50%;
  outline: none;
	border: none;
  padding: 0px 40px;
  font-size: large;
  font-family: "Nunito";
	margin: auto;
}

.newsCardContainer {
	display: flex;
	width: calc(100vw - 100px);
	margin: auto;
	flex-wrap: wrap;
}